.researchContentWrapper {
  text-align: justify;
  color: #182153;
  padding-top: 50px;
  @media only screen and (min-width: 940px) {
    padding-right: 20%;
    padding-left: 20%;
  }
  @media only screen and (max-width: 939px) {
    padding-right: 10%;
    padding-left: 10%;
  }
  
}
