.introWrapper {
  width: 100%;
  background: #F1F1F1;
  @media only screen and (min-width: 768px) {
    min-height: 475px;
    padding: 200px 15% 1px;
  }
  @media only screen and (max-width: 767px) {
    padding: 50px 10% 1px;
  }
}

.introHeading {
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  color: #182153;
  text-align: center;
  font-size: 23px;
}

.introContent {
  margin-top: 10px;
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  color: #182153;
  text-align: justify;
  line-height: 1.6em;
  font-size: 15px;
}